/* CSS declarations go here */
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: .4;
  z-index: 1;
}

#main {
  margin: 60px 0 60px;
}

.inline-form {
  /*padding: 15px;*/
  padding-bottom: -10px;
  background-color: #FFF;
}