/* CSS declarations go here */
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: .4;
  z-index: 1;
}

#main {
  margin: 60px 0 60px;
}

h3.section {
  margin-left: 20px;
}

div.block {
  margin-left: 20px;
}

.span3 > .well {
  margin-top: 20px;
}

.inline-form {
  padding: 15px;
  padding-bottom: 5px;
  background-color: #EEE;
}

#courseEditor {
  margin-top: 20px;
}

/*#courseEditor > h1, h2, h3, h4, h5 {
  font-size: 1em;
  margin: 0 0 10px;
  line-height: 25px;
}*/