<!-- home template -->

<template name="home">
  
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Home</h1>
      </div>
      <div class="span12">
      {{#if currentUser}}
        {{#if anyManuals}}
          <table class="table table-hover">
            <tr>
              <th>Title</th>
              <th style="width: 80px">Actions</th>
            </tr>
            {{#each courses}}
            <tr>
              <td>{{title}}&nbsp;&nbsp;&nbsp;<small>({{_id}})</small></td>
              <td>
                <a href="#" class="btn btn-mini removeCourse"><i class="icon-remove-sign"></i></a>
                <a href="/courses/{{_id}}/preview" class="btn btn-mini"><i class="icon-eye-open"></i></a>
                <a href="/courses/{{_id}}" class="btn btn-mini"><i class="icon-pencil"></i></a>
              </td>
            </tr>
            {{/each}}
          </table>
        {{else}}
          <p>You have yet to create a course.</p>
        {{/if}}
        <a href="#" id="createCourseButton" class="btn btn-large btn-primary pull-right"><i class="icon-book"></i> Create Course</a>
      {{else}}
        <p>Sign in to start!</p>
      {{/if}}
      </div>
    </div>
  </div>
  
  <div id="createCourseModal" class="modal hide fade">

    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Add Course</h3>
    </div>

    <div class="modal-body">

      <div id="createCourseError" class="alert alert-error"></div>

      <label>Title</label>
      <input type="text" class="title span5">

      <label>Description</label>
      <textarea class="description span5" placeholder="Enter a description (optional)."></textarea>
    </div>
    
    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" id="saveCreateCourse" class="btn btn-primary">Add Course</a>
    </div>
    
  </div>
</template>