<template name="toolbar">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AutomaticManual</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          {{#if currentManual}}
            {{#with manual}}
              {{# if isPreview}}
                <li><a href="/courses/{{_id}}">Editor</a></li>
              {{else}}
                <li><a href="/courses/{{_id}}/preview">Preview</a></li>
              {{/if}}
            {{/with}}
          {{/if}}
        </ul>
        <div class="nav navbar-right navbar-nav">
          {{loginButtons}}
        </div>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
</template>