<template name="toolbar">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">AutomaticManual</a>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          {{#if currentManual}}
            {{#with manual}}
              <li><a href="/courses/{{_id}}/preview" target="_blank">Preview</a></li>
            {{/with}}
          {{/if}}
        </ul>
        {{loginButtons}}
      </div>
    </div>
  </div>
</template>