<!-- createBlockDialogInline -->

<template name="createBlockDialogInline">
  
  <div class="inline-form">
    {{#if error}}
    <div class="alert alert-error">{{error}}</div>
    {{/if}}
    
    <input type="text" class="title span5" placeholder="Enter a title (optional)">
    <textarea class="body span5" placeholder="Enter some body copy."></textarea>
  
    <div class="btn-group pull-right">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Add Text</a>
    </div>
  </div>
  
</template>

<!-- editBlockDialogInline -->

<template name="editBlockDialogInline">
  
  <div class="inline-form">
    {{#if error}}
    <div class="alert alert-error">{{error}}</div>
    {{/if}}
    
    <input type="text" class="title span5" placeholder="Enter a title (optional)" value="{{title}}">
    <textarea class="body span5" placeholder="Enter some body copy.">{{body}}</textarea>
  
    <div class="btn-group pull-right">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Save</a>
    </div>
  </div>
  
</template>