<!-- createBlockDialogInline -->

<template name="createBlockDialogInline">
    
    {{> blockTextToolbar}}

    <div id="editor"></div>

    <div class="btn-group">
      <button type="button" class="btn btn-default cancel">Cancel</button>
      <button type="button" class="btn btn-primary save">Save</button>
    </div>
  
</template>

<!-- editBlockDialogInline -->

<template name="editBlockDialogInline">
  {{> blockTextToolbar}}

  <div id="editor">
    {{{body}}}
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default cancel">Cancel</button>
    <button type="button" class="btn btn-primary save">Save</button>
  </div>
</template>