<!-- createChapterDialogInline -->

<template name="createChapterDialogInline">
    
    <div class="editInline">
      <form role="form">
        {{#if error}}
        <div class="alert alert-error">{{error}}</div>
        {{/if}}
        
        <div class="col-lg-5">
          <input type="text" class="title form-control" placeholder="Enter a chapter title">
        </div>
      
        <div class="btn-group">
          <button class="btn btn-default cancel">Cancel</button>
          <button class="btn btn-primary save">Save</button>
        </div>
      </form>
    </div>
  
</template>

<!-- editChapterDialogInline -->

<template name="editChapterDialogInline">
  
  <div class="editInline">
    <form class="form-inline" role="form">
      {{#if error}}
      <div class="alert alert-error">{{error}}</div>
      {{/if}}
      
      <div class="col-lg-5">
        <input type="text" class="title form-control" placeholder="Enter a chapter title" value="{{title}}">
      </div>
      
      <div class="btn-group">
        <button class="btn btn-default cancel">Cancel</button>
        <button class="btn btn-primary save">Save</button>
      </div>
    </form>
  </div>
  
</template>