<!-- chapter_controls -->

<template name="chapterControls">
  {{#with chapter}}
    {{#if selected}}
      {{#if showEditChapterDialog}}
        <h2>{{> editChapterDialogInline}}</h2>
      {{else}}
        {{#if showCreateSectionDialog}}
          <h2>{{title}}</h2>
          {{> createSectionDialogInline}}
        {{else}}
        <h2>{{title}}&nbsp;&nbsp;
          <div class="btn-group">
            <button type="button" class="btn btn-default removeChapter">Remove</button>
            <button type="button" class="btn btn-default createSection">Add Section</button>
            <button type="button" class="btn btn-primary editChapter">Edit</button>
          </div>
        </h2>
        {{/if}}
      {{/if}}
    {{else}}
      <h2>{{title}}</h2>
    {{/if}}
  {{/with}}
</template>