<!-- chapter_controls -->

<template name="chapterControls">
  {{#with chapter}}
    {{#if selected}}
      {{#if showEditChapterDialog}}
        <h2>{{> editChapterDialogInline}}</h2>
      {{else}}
        {{#if showCreateSectionDialog}}
          <h2>{{title}}</h2>
          {{> createSectionDialogInline}}
        {{else}}
        <h2>{{title}} 
          <a href="#" class="btn btn-mini editChapter">Edit</a>
          <a href="#" class="btn btn-mini removeChapter">Remove</a>
          <a href="#" class="btn btn-mini createSection">Add Section</a>
        </h2>
        {{/if}}
      {{/if}}
    {{else}}
      <h2>{{title}}</h2>
    {{/if}}
  {{/with}}
</template>