<!-- createChapterDialogInline -->

<template name="createChapterDialogInline">
  
  <div class="inline-form">
    {{#if error}}
    <div class="alert alert-error">{{error}}</div>
    {{/if}}
  
    <input type="text" class="title span5" placeholder="Enter a chapter title">
  
    <div class="btn-group pull-right">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Add Chapter</a>
    </div>
  </div>
  
</template>

<!-- editChapterDialogInline -->

<template name="editChapterDialogInline">
  
  <div class="inline-form">
    {{#if error}}
      <div class="alert alert-error">{{error}}</div>
    {{/if}}
  
    <input type="text" class="title span5" placeholder="Enter a chapter title" value="{{title}}">
  
    <div class="btn-group pull-right">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Save</a>
    </div>
  </div>
  
</template>