
<!-- createSectionDialogInline -->

<template name="createSectionDialogInline">
  
  <div class="editInline">
    <form class="form-inline">
      {{#if error}}
      <div class="alert alert-error">{{error}}</div>
      {{/if}}
      
      <input type="text" class="title span5" placeholder="Enter a section title">
      
      <div class="btn-group">
        <button class="btn cancel">Cancel</button>
        <button class="btn btn-primary save">Save</button>
      </div>
    </form>
  </div>
  
</template>

<!-- editSectionDialogInline -->

<template name="editSectionDialogInline">
  
  <div class="editInline">
    <form class="form-inline">
      {{#if error}}
      <div class="alert alert-error">{{error}}</div>
      {{/if}}
      
      <input type="text" class="title span5" placeholder="Enter a section title" value="{{title}}">
      
      <div class="btn-group">
        <button class="btn cancel">Cancel</button>
        <button class="btn btn-primary save">Save</button>
      </div>
    </form>
  </div>
  
</template>