<!-- section_controls -->

<template name="sectionControls">
  {{#with section}}
    {{#if selected}}
      {{#if showEditSectionDialog}}
        <h3>{{> editSectionDialogInline}}</h3>
      {{else}}
        {{#if showCreateBlockDialog}}
          <h3>{{title}}</h3>
          {{#if body}}
            {{#markdown}}{{body}}{{/markdown}}
          {{/if}}
          {{> createBlockDialogInline}}
        {{else}}
          <h3>{{title}}&nbsp;&nbsp;
            <div class="btn-group">
              <button type="button" class="btn btn-default removeSection">Remove</button>
              <button type="button" class="btn btn-default createBlock">Add Text</button>
              <button type="button" class="btn btn-primary editSection">Edit</button>
            </div>
          </h3>
          {{#if body}}
            {{#markdown}}{{body}}{{/markdown}}
          {{/if}}
        {{/if}}
      {{/if}}
    {{else}}
      <h3>{{title}}</h3>
      {{#if body}}
        {{#markdown}}{{body}}{{/markdown}}
      {{/if}}
    {{/if}}
  {{/with}}
</template>