
<!-- createSectionDialogInline -->

<template name="createSectionDialogInline">
  
  <div class="editInline">
    <form class="form-inline">
      {{#if error}}
      <div class="alert alert-error">{{error}}</div>
      {{/if}}
      
      <div class="col-lg-5">
        <input type="text" class="title form-control" placeholder="Enter a section title">
      </div>
      
      <div class="btn-group">
        <button type="button" class="btn btn-default cancel">Cancel</button>
        <button type="button" class="btn btn-primary save">Save</button>
      </div>
    </form>
  </div>
  
</template>

<!-- editSectionDialogInline -->

<template name="editSectionDialogInline">
  
  <div class="editInline">
    <form class="form-inline">
      {{#if error}}
      <div class="alert alert-error">{{error}}</div>
      {{/if}}
      
      <div class="col-lg-5">
        <input type="text" class="title form-control" placeholder="Enter a section title" value="{{title}}">
      </div>
      
      <div class="btn-group">
        <button type="button" class="btn btn-default cancel">Cancel</button>
        <button type="button" class="btn btn-primary save">Save</button>
      </div>
    </form>
  </div>
  
</template>