
<!-- createSectionDialogInline -->

<template name="createSectionDialogInline">
  
  <div class="inline-form">
    {{#if error}}
    <div class="alert alert-error">{{error}}</div>
    {{/if}}
  
    <input type="text" class="title span5" placeholder="Enter a title">
    <textarea class="body span5" placeholder="Enter some body copy (optional)"></textarea>
  
    <div class="btn-group pull-right">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Add Section</a>
    </div>
  </div>
  
</template>

<!-- editSectionDialogInline -->

<template name="editSectionDialogInline">
  
  <div class="inline-form">
    {{#if error}}
    <div class="alert alert-error">{{error}}</div>
    {{/if}}
  
    <input type="text" class="title span5" placeholder="Enter a section title" value="{{title}}">
    <textarea class="body span5" placeholder="Enter some body copy.">{{body}}</textarea>
  
    <div class="btn-group pull-right">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">Save</a>
    </div>
  </div>
  
</template>