<!-- toc_chapter -->

<template name="toc_chapter">
  <div class="panel-group toc_chapter" data-id='{{_id}}' data-listposition='{{listposition}}'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="" href="#collapse{{_id}}" style="text-decoration: none;">{{title}}</a>
        </h4>
      </div>
      {{#if anySections}}
      <div id="collapse{{_id}}" class="panel-collapse collapse in">
        <div class="panel-body">
          {{#each sections}}
            {{> toc_section}}
          {{/each}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>

<!-- toc_section -->

<template name="toc_section">
  <div class='toc_section'>
    <a href="#" class="toc_section" style="margin-left: 10px;">{{title}}</a>
  </div>
</template>